* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/******** CAROUSEL  ******************************************************************/
/* Carousel Item - Makes Images Fit */
.carousel-item img {
  width: 100%;
  height: 40vh; /* Adjust as needed */
  object-fit: cover; /* Ensures images cover the full area */
}

#slide_1_matches,
#slide_2_matches,
#slide_3_matches,
#slide_4_matches,
#slide_5_matches {
  margin: 100px auto;
  background-color: #00000080;
  width: 300px;
  border-radius: 20px;
}

/* Table with the matches */
.main {
  width: 80%;
  margin: 50px auto;
  padding: 10px;
  box-shadow: 3px 3px 10px 0.5px black;
}

.news {
  margin: 50px auto;
  width: 80%;
  box-shadow: 3px 3px 10px 0.5px black;
}

/* Table with the matches */
.table {
  text-align: center;
  width: 80%;
  margin: auto;
}

#calendar {
  width: 80%;
  margin: auto;
  padding: 30px;
}

@media (width <= 585px) {
  .main {
    box-shadow: none;
  }
}

@media (width < 900px) {
  .footer-logo {
    img {
      height: 0px;
    }
  }
  .footer-links {
    display: none;
  }
  .footer {
    display: flex;
    justify-content: center;
  }
}
